.imagenDeMenu{
width: 80px;
height: 70px;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #100000;
    }

    .jumbotron{
    background-color:red;
    }
    p {
        font: oblique bold 120% cursive;
        font-size: 150%;
        font-weight: normal;
        color: rgb(49, 66, 216);
      }
      h2{
        color: rgb(231, 23, 85);

      }
      a{
        color: rgb(231, 23, 85);

      }