<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand">SALA DE JUEGOS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/Principal" >Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
          <a routerLink="/Juegos">
        <a class="nav-link" >Juegos</a>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/QuienSoy">About me</a>
      </li>
      <li href="https://github.com/Julianreinoso94" class="nav-item">
        <a href="https://github.com/Julianreinoso94" class="nav-link "  >GitHub</a>
      </li>
      <li class="nav-item" routerLink="/Listado">
        <a class="nav-link" href="/Listado">Listado Jugadores</a>
      </li>
    </ul>
  </div>
</nav>
<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Bienvenidos!! Preparados para Jugar?</h1>
      <p>LA DIVERSION RECIEN COMIENZA, ELIJA SU JUEGO, QUE ESTA ESPERANDO??</p>
      <p><a class="btn btn-primary btn-lg" routerLink="/peliculas" role="button">Ir a Listado &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2> SIMON </h2>
        <p>Simón dice es un juego para jugar con tres o más personas. Uno de los participantes es el llamado "Simón", es decir, el que dirige la acción. Los otros deben hacer lo que Simón dice. El truco está en la frase mágica que es "Simón dice". Si Simón dice "Simón dice salta", los jugadores deben saltar o quedan eliminado </p>
        <p><a class="btn btn-secondary" href="#" role="button">JUGAR &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>ADIVINA EL NUMERO SECRETO!</h2>
        <p>Si adivinas el numero en menos de 5 intentos te ganas el mejor premio.. Si participas por una  orden de compras!! </p>
        <p><a class="btn btn-secondary" href="#" role="button">JUGAR</a></p>
      </div>
      <div class="col-md-4">
        <h2>AGILIDAD ARITMETICA</h2>
        <p>Juega los mejores juegos de mentales en linea. Nuestros juegos pueden jugarse en tu computador, tableta o dispositivo móvil.  </p>
        <p><a class="btn btn-secondary" href="#" role="button">JUGAR!! &raquo;</a></p>
      </div>
    </div>
    <div class="row">
        <div class="col-md-4">
          <h2>Anagrama</h2>
          <p>Un anagrama es una palabra o frase obtenida mediante la transposición de las letras de otra palabra o frase, por ejemplo un anagrama de la palabra «letras» ... </p>
          <p><a class="btn btn-secondary" href="#" role="button">JUGAR! &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>TA-TE-TI</h2>
          <p>El tres en línea, también conocido como Ceros y Cruces, tres en raya, Michi, juego del gato, Triqui, Cuadritos, Gato, Tatetí, Totito, Triqui traka, Equis Cero, Tic-Tac-Toe, o la vieja, es un juego de lápiz y papel entre dos jugadores: O y X, que marcan los espacios de un tablero de 3×3 . </p>
          <p><a class="btn btn-secondary" href="#" role="button">JUGAR!! &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>PIEDRA, PAPEL O TIJERA</h2>
          <p>Piedra, papel o tijera, conocido también como cachipún, jankenpón, yan ken po, pin pon papas, hakembó o how-are-you-speak, es un juego infantil, un juego de manos en el que existen tres elementos: la piedra que vence a la tijera rompiéndola, la tijera que vence al papel cortándolo y el papel que vence a la piedra envolviéndola, dando lugar a un círculo o ciclo cerrado (véase bucle extraño), que caracteriza al juego. Se utiliza con mucha frecuencia para decidir quién de dos personas hará algo, tal y como se hace a veces usando una moneda, o para dirimir algún asunto </p>
          <p><a class="btn btn-secondary" href="#" role="button">jUGAR!! &raquo;</a></p>
        </div>
      </div>

    <hr>

  </div> <!-- /container -->

</main>
